<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.codekenner.roadtrip" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="de.codekenner.roadtrip.DoneThatApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="de.codekenner.roadtrip.Activities.TripNotesActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.codekenner.roadtrip.Activities.AllTripsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="de.codekenner.roadtrip.Activities.WelcomeActivity"
            android:label="@string/app_name"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.codekenner.roadtrip.Activities.NoteDetailActivity"
            android:label="@string/title_activity_note_detail"
            android:parentActivityName="de.codekenner.roadtrip.Activities.TripNotesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.codekenner.roadtrip.TripNotesActivity" />
        </activity>
        <activity
            android:name="de.codekenner.roadtrip.Activities.EditTripActivity"
            android:label="@string/title_activity_edit_trip" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.codekenner.roadtrip.TripsActivity" />
        </activity>
        <activity
            android:name="de.codekenner.roadtrip.Activities.EditNoteActivity"
            android:label="@string/title_activity_edit_note" >
        </activity>
        <activity
            android:name="de.codekenner.roadtrip.Activities.TwitterAuthActivity"
            android:label="@string/title_activity_twitter_auth"
            android:launchMode="singleInstance" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="twitter"
                    android:scheme="app" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.codekenner.roadtrip.Activities.SettingsActivity"
            android:label="Einstellungen" />
        <activity
            android:name="de.codekenner.roadtrip.Activities.TripsActivity"
            android:label="@string/title_activity_trips" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
